<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoCRM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoCRM.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand text-light" href="#">CRM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Productos
                            </a>
                            <ul class="dropdown-menu text-light bg-dark">
                                <li><a class="dropdown-item text-light " asp-area="" asp-controller="Producto" asp-action="Create">Agregar producto</a>  </li>
                                <li><a class="dropdown-item text-light " asp-area="" asp-controller="Producto" asp-action="Index">Listar productos</a>  </li>
                                <li><a class="dropdown-item text-light " asp-area="" asp-controller="Producto" asp-action="Index">Editar producto</a>  </li>
                            </ul>

                        <li class="nav-item dropdown text-dark ">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Clientes
                            </a>
                            <ul class="dropdown-menu text-light bg-dark">
                                <li><a class="dropdown-item text-light " asp-area="" asp-controller="Clientes" asp-action="Create">Agregar clientes</a>  </li>
                                <li><a class="dropdown-item text-light " asp-area="" asp-controller="Clientes" asp-action="Index">Listar clientes</a>  </li>
                                <li><a class="dropdown-item text-light " asp-area="" asp-controller="Clientes" asp-action="Index">Eliminar clientes</a>  </li>

                            </ul>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Contactos
                            </a>
                            <ul class="dropdown-menu text-light bg-dark">
                                <li><a class="dropdown-item text-light " asp-area="" asp-controller="Contacto" asp-action="Create">Agregar Contacto</a>  </li>
                                <li><a class="dropdown-item text-light " asp-area="" asp-controller="Contacto" asp-action="Index">Listar Contactos</a>  </li>
                                <li><a class="dropdown-item text-light " asp-area="" asp-controller="Contacto" asp-action="Index">Asociar tarea</a>  </li>
                                <li><a class="dropdown-item text-light " asp-area="" asp-controller="Contacto" asp-action="Index">Asociar actividad</a>  </li>
                            </ul>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Cotizaciones
                            </a>
                            <ul class="dropdown-menu text-light bg-dark">
                                <li><a class="dropdown-item text-light " asp-area="" asp-controller="Productos" asp-action="Index">Agregar producto</a>  </li>
                                <li><a class="dropdown-item text-light " asp-area="" asp-controller="Productos" asp-action="Index">Listar productos</a>  </li>
                                <li><a class="dropdown-item text-light " asp-area="" asp-controller="Productos" asp-action="Index">Editar producto</a>  </li>
                            </ul>
                        <li class="nav-item">
                            <a class="nav-link text-danger ml-auto" asp-area="" asp-controller="Acceso" asp-action="Salir">Cerrar sesion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ProyectoCRM - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
