@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <h3> "Somos dos jovenes aficionados de la programación buscando un futuro mejor siguiendo la educación superior, por favor tratenos bien con la calificación prof" </h3>
    <p></p>
</div>
