@model ProyectoCRM.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreCuenta" class="control-label"></label>
                <input asp-for="NombreCuenta" class="form-control" />
                <span asp-validation-for="NombreCuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sitio" class="control-label"></label>
                <input asp-for="Sitio" class="form-control" />
                <span asp-validation-for="Sitio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactoPrincipal" class="control-label"></label>
                <input asp-for="ContactoPrincipal" class="form-control" />
                <span asp-validation-for="ContactoPrincipal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idzona" class="control-label"></label>
                <select asp-for="Idzona" class ="form-control" asp-items="ViewBag.Idzona"></select>
            </div>
            <div class="form-group">
                <label asp-for="Idmoneda" class="control-label"></label>
                <select asp-for="Idmoneda" class ="form-control" asp-items="ViewBag.Idmoneda"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
